In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [83]:
female_oscars_df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/oscar_age_female.csv")
male_oscars_df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/oscar_age_male.csv")

In [84]:
# change column names to be correct and not have quotation marks
# note 'unknown' added where data meaning is unknown and needs more
# exploration

female_oscars_columns = ['Year','Age','Name','Movie','Unknown']
female_oscars_df.columns = female_oscars_columns

In [87]:
# Finding out what is in Unknown column for examination

female_oscars_df.Unknown.unique()

array([' Street Angel and Sunrise: A Song of Two Humans"', nan,
       ' Little Sheba"'], dtype=object)

In [104]:
# remove quotation marks around names and movies

female_oscars_df['Name'] = female_oscars_df.Name.str.strip(' "')
female_oscars_df['Movie'] = female_oscars_df.Movie.str.strip(' "')
female_oscars_df['Unknown'] = female_oscars_df.Unknown.str.strip(' "')

In [105]:
female_oscars_df.head()

,Year,Age,Name,Movie,Unknown
1,1928,22,Janet Gaynor,Seventh Heaven,Street Angel and Sunrise: A Song of Two Humans
2,1929,37,Mary Pickford,Coquette,NaN
3,1930,28,Norma Shearer,"The Divorcee""\t",NaN
4,1931,63,Marie Dressler,Min and Bill,NaN
5,1932,32,Helen Hayes,"The Sin of Madelon Claudet""\t",NaN

In [109]:
# After research, found Unknown column includes additional 
# movies that person won the best actress winner for, so going to 
# combine data where needed

pd.Series(female_oscars_df.Movie + female_oscars_df.Unknown.dropna())

1     Seventh HeavenStreet Angel and Sunrise: A Song...
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
                            ...
85                                                  NaN
86                                                  NaN
87                                                  NaN
88                                                  NaN
89                                                  NaN
Length: 89, dtype: object

In [123]:
female_oscars_df.index = range(0,len(female_oscars_df.index))

In [ ]:
df["period"] = df["Year"] + df["quarter"]

In [145]:
for x in female_oscars_df.Unknown:
    if type(x) == str:
        print(x)

Street Angel and Sunrise: A Song of Two Humans
Little Sheba

In [152]:
female_oscars_df.Unknown.dropna()

0     Street Angel and Sunrise: A Song of Two Humans
24                                      Little Sheba
Name: Unknown, dtype: object

In [169]:
combined_column = female_oscars_df['Movie'].fillna('') + "; " + female_oscars_df['Unknown'].fillna('')
female_oscars_df['Movie_v2'] = combined_column.str.strip('"\t ;')

In [171]:
del female_oscars_df['Movie']

In [173]:
del female_oscars_df['Unknown']

In [178]:
female_oscars_df.rename(columns={'Movie_v2': 'Movie'}, inplace = True)

In [183]:
female_oscars_df.Movie[0] = 'Seventh Heaven; Street Angel; Sunrise: A Song of Two Humans'

'Seventh Heaven; Street Angel; Sunrise: A Song of Two Humans'

In [184]:
female_oscars_df.head()

,Year,Age,Name,Movie
0,1928,22,Janet Gaynor,Seventh Heaven; Street Angel; Sunrise: A Song ...
1,1929,37,Mary Pickford,Coquette
2,1930,28,Norma Shearer,The Divorcee
3,1931,63,Marie Dressler,Min and Bill
4,1932,32,Helen Hayes,The Sin of Madelon Claudet

In [225]:
def find_oscar_winner(year_ask):
    for index, year in enumerate(female_oscars_df.Year):
        if year_ask == year:
            return f'''In {female_oscars_df.Year[index]} {female_oscars_df.Name[index]}\
 won the Best Actress Oscar for her role in {female_oscars_df.Movie[index]}.'''

In [229]:
find_oscar_winner(2019)