In [19]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [20]:
female_oscars_df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/oscar_age_female.csv")
male_oscars_df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/oscar_age_male.csv")

In [21]:
# change column names to be correct and not have quotation marks
# note 'unknown' added where data meaning is unknown and needs more
# exploration

female_oscars_columns = ['Year','Age','Name','Movie','Unknown']
female_oscars_df.columns = female_oscars_columns

In [22]:
# Finding out what is in Unknown column for examination

female_oscars_df.Unknown.unique()

array([' Street Angel and Sunrise: A Song of Two Humans"', nan,
       ' Little Sheba"'], dtype=object)

In [23]:
# remove quotation marks around names and movies

female_oscars_df['Name'] = female_oscars_df.Name.str.strip(' "')
female_oscars_df['Movie'] = female_oscars_df.Movie.str.strip(' "')
female_oscars_df['Unknown'] = female_oscars_df.Unknown.str.strip(' "')

In [24]:
# After research, found Unknown column includes additional 
# movies that person won the best actress winner for, so going to 
# combine data where needed

combined_column = female_oscars_df['Movie'].fillna('') + "; " + female_oscars_df['Unknown'].fillna('')
female_oscars_df['Movie_v2'] = combined_column.str.strip('"\t ;')

In [25]:
del female_oscars_df['Movie']

In [26]:
del female_oscars_df['Unknown']

In [27]:
female_oscars_df.rename(columns={'Movie_v2': 'Movie'}, inplace = True)

In [28]:
female_oscars_df.iloc[0,3] = 'Seventh Heaven; Street Angel; Sunrise: A Song of Two Humans'

In [42]:
female_oscars_df.head()

,Year,Age,Name,Movie
1,1928,22,Janet Gaynor,Seventh Heaven; Street Angel; Sunrise: A Song ...
2,1929,37,Mary Pickford,Coquette
3,1930,28,Norma Shearer,The Divorcee
4,1931,63,Marie Dressler,Min and Bill
5,1932,32,Helen Hayes,The Sin of Madelon Claudet

In [43]:
def female_oscar_winner(year_ask):
    '''
    Finds winner of Oscar for Best Actress between
    years of 1928 and 2016.
    ---
    Input: numeric year between 1928 and 2016
    Output: A string stating actress and movie that won Oscar of input year.
    '''
    for index, year in enumerate(female_oscars_df.Year):
        if year_ask == year:
            return f'''In {female_oscars_df.Year[index]} {female_oscars_df.Name[index]}\
 won the Best Actress Oscar for her role in {female_oscars_df.Movie[index]}.'''

In [ ]:
female_oscar_winner()

In [44]:
female_oscar_winner(1989)

'In 1988 Cher won the Best Actress Oscar for her role in Moonstruck.'

In [36]:
male_oscars_df.head()

,Index,"""Year""","""Age""","""Name""","""Movie"""
1,1928,44,"""Emil Jannings""","""The Last Command","The Way of All Flesh"""
2,1929,41,"""Warner Baxter""","""In Old Arizona""",NaN
3,1930,62,"""George Arliss""","""Disraeli""",NaN
4,1931,53,"""Lionel Barrymore""","""A Free Soul""",NaN
5,1932,47,"""Wallace Beery""","""The Champ""",NaN

In [39]:
# Cleaning up oscars

male_oscars_columns = ['Year','Age','Name','Movie','Unknown']
male_oscars_df.columns = male_oscars_columns

In [62]:
import Test_Module

In [64]:
import add_num

ModuleNotFoundError: No module named 'add_num'

In [60]:
%whos

Variable                Type         Data/Info
----------------------------------------------
Test_Module             module       <module 'Test_Module' fro<...>rst_repo/Test_Module.py'>
combined_column         Series       1     Seventh Heaven; Str<...>Length: 89, dtype: object
female_oscar_winner     function     <function female_oscar_winner at 0x7ff7693f44d0>
female_oscars_columns   list         n=5
female_oscars_df        DataFrame        Year  Age            <...>\n\n[89 rows x 4 columns]
find_oscar_winner       function     <function find_oscar_winner at 0x7ff7693f47a0>
male_oscars_columns     list         n=5
male_oscars_df          DataFrame        Year  Age            <...>\n\n[89 rows x 5 columns]
np                      module       <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
pd                      module       <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
stats                   module       <module 'scipy.stats' fro<...>scipy/stats/__init__.py'>

In [55]:
add_num(4,5)

NameError: name 'add_num' is not defined